@model List<Repositorio>
@foreach (var repositorio in Model)
{
    <div class="row mx-lg-2">
        <div class="card" style="width: 18rem;">
            <img class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title">@repositorio.name</h5>
                <p class="card-text">@repositorio.description</p>
                <form id="selectLanguage" asp-controller="Repositorio" asp-action="Consultar" asp-route-url="@repositorio.contents_url" asp-route-returnUrl="@Context.Request.Path" method="post" role="form">
                    <button type="submit" class="btn btn-primary">Acessar</button>
                </form>
            </div>
        </div>
    </div>
}

