@model Catalogo_GitHub.ViewModel.ArquivoViewModel

@{
    ViewData["Title"] = "Arquivo";
}

<h1>Arquivo</h1>

<div class="container">
    <h4>@Model.repositorio.name</h4>
    <h5>@Model.repositorio.description</h5>
    <br />
    <h4>model.arquivo.name</h4>
    <hr />
    <div class="row">
        @Model.arquivo.decodedContent()
    </div>
</div>
<div>
    <a href="javascript: history.go(-1)">Voltar</a>
</div>
